user.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions 
	xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
	xmlns:tns="urn:user" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	targetNamespace="urn:user">

<!-- Politica del servicio web -->
<wsp:Policy>
	<wsp:ExactlyOne>
		<sp:Basic128>
			<wsp:Policy>
				<wsp:ExactlyOne>
					<sp:Sha1   />
					<sp:Aes128 />
				</wsp:ExactlyOne>
			</wsp:Policy>
		</sp:Basic128>
		<sp:Basic256Sha256Rsa15>
			<wsp:Policy>
				<wsp:ExactlyOne>
					<sp:Sha256 />
					<sp:Aes256 />
				</wsp:ExactlyOne>
			</wsp:Policy>
		</sp:Basic256Sha256Rsa15>
	</wsp:ExactlyOne>
</wsp:Policy>

<!-- Tipos de datos usado por el servicio web -->
<types>
<xsd:schema targetNamespace="urn:user">
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
 <xsd:complexType name="ResponseObject">
  <xsd:all>
   <xsd:element name="success" type="xsd:boolean"/>
   <xsd:element name="message" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
</xsd:schema>
</types>

<!-- Mensaje de entrada -->
<message name="create_user_accountRequest">
  <part name="username" type="xsd:string" />
  <part name="password" type="xsd:string" />
  <part name="crypto_algorithm" type="xsd:string" />
</message>

<!-- Mensaje de salida -->
<message name="create_user_accountResponse">
  <part name="return" type="tns:ResponseObject" />
</message>
 
<!-- Operaciones/funciones -->
<portType name="userPortType">
  <operation name="create_user_account">
    <documentation>Crea una cuenta de usuario.</documentation>
    <input message="tns:create_user_accountRequest"/>
    <output message="tns:create_user_accountResponse"/>
  </operation>
</portType>

<binding name="userBinding" type="tns:userPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="create_user_account">
    <soap:operation soapAction="urn:user#userServer" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:user" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:user" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
</binding>
<service name="user">
  <port name="userPort" binding="tns:userBinding">
    <soap:address location="http://localhost/policy-example/soapserver.php"/>
  </port>
</service>
</definitions>